.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
}

.error-text {
  position: absolute;
  z-index: 1000;
  width: 850px;
  height: 400px;
  padding-top: 200px;
  background-color: black;
  color: white
}
