.App {
  text-align: center;
}

.heading-movies {
  color: red;
  text-align: left;
  animation: showup 2s;
  position: relative;
  margin-bottom: -20px;
  margin-left: 60px;
}

@keyframes showup {
    from { top: 20px; }
    to   { top: 0; }
}

.App-intro {
  font-size: large;
}

.box {
    width: 100px;
    height: 100px;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

.box:hover {
    width: 200px;
    height: 200px;
}
